@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.ck-content * {
  all: revert;
}

table thead tr th:first-child {
  border-top-left-radius: 20px;
}

table thead tr th:last-child {
  border-top-right-radius: 20px;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

table tbody tr:not(:last-child) {
  border-bottom: 1px solid #9ca3af !important;
}
