@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.ck-content * {
  all: revert;
}

.alert {
  animation: moveLeft 1s;
}

.alert-progress {
  animation: progressBar 5s ease-out;
}

@keyframes progressBar {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes moveLeft {
  0% {
    transform: translate(5px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.thead .tr .th:first-child {
  border-top-left-radius: 15px;
}
.thead .tr .th:last-child {
  border-top-right-radius: 15px;
}
.tfoot .tr .td:first-child {
  border-bottom-left-radius: 15px;
}
.tfoot .tr .td:last-child {
  border-bottom-right-radius: 15px;
}

.tbody .tr:not(:last-child) .td {
  border-bottom: 1px solid rgba(209, 213, 219);
}

.thead .tr .th:not(:last-child) .resizer {
  right: -3px;
  background: rgba(107, 114, 128);
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  touch-action: none;
}

.thead .tr .th .resizer.isResizing {
  background: rgba(248, 113, 113);
}

/* Emoji */
.emoji-picker-react input.emoji-search {
  color: rgba(55, 65, 81);
}
.emoji-picker-react
  .active-category-indicator-wrapper
  .active-category-indicator {
  opacity: 0.8 !important;
}

@media (min-width: 768px) {
  .emoji-picker-react {
    width: 80%;
  }
}
